.table {
    tr {
        td {
            &:first-child {
                width: 200px;
                min-width: 200px;
            }
            &:last-child {
                width: 300px;
                min-width: 300px;
            }
        }
    }
}

@media (max-width: 600px) {
  .table {
    display: block;
    overflow-x: scroll;
  }
}